.tufts-wrapper{
    .tuft-nav{
        position: fixed;
       /* width: 200px;*/
        height: 100%;
    }
    .tufts-content{
        width:100%;
        padding-left: 200px;
    }
    .tufts-container{
        padding:25px;
    }
    
}