<div class="container">
  <div class="topClass" >
    <!-- <div style="left: 75.0176px; top: 257.712px; font-size: 24px; font-family: sans-serif; transform: scaleX(0.970897);">Filter results by</div> -->
  
      <h5>Filter Results By</h5>
    <form>
      <input type="checkbox" name="vehicle" value="Bike"> Cisco Preferred
      <br>
      <input type="checkbox" name="vehicle" value="Car"> External
      <br>
    </form>
  
    <form>
      <input type="checkbox" name="vehicle" value="Bike"> Open Source
      <br>
      <input type="checkbox" name="vehicle" value="Car"> Commercial
      <br>
    </form>
    <!-- <div><label class="container">External
    <input type="checkbox">
    <span class="checkmark"></span>
  </label></div> -->
  
    <!-- <div><label class="container">Open Source
    <input type="checkbox">
    <span class="checkmark"></span>
  </label></div> -->
  
    <!-- <div><label class="container">Commercial
    <input type="checkbox">
    <span class="checkmark"></span>
  </label></div> -->
  
    <div style="left: 74.66666666666666px; top: 692.4425333333336px; font-size: 18.666666666666664px; font-family: sans-serif; transform: scaleX(0.9419395308412574);">
      <strong>License type</strong>
    </div>
    <!-- <label class="container">Embedded
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  
    <label class="container">SaaS
    <input type="checkbox">
    <span class="checkmark"></span>
  </label> -->
  
    <form>
      <input type="checkbox" name="vehicle" value="Bike"> Embedded
      <br>
      <input type="checkbox" name="vehicle" value="Car"> SaaS
      <br>
      <input type="checkbox" name="vehicle" value="Car"> Apache
      <br>
    </form>
  
  
    <div class="license_type">
      <div style="left: 74.66666666666666px; top: 692.4425333333336px; font-size: 14px; font-family: sans-serif; transform: scaleX(0.9419395308412574);">
        <strong>Security Rating</strong>
      </div>
      <div style="left: 74.66666666666666px; top: 731.4745333333336px; font-size: 14px; font-family: sans-serif; transform: scaleX(0.8721441423526703);">
        <u> 100 - 80 (5) </u>
      </div>
      <div style="left: 74.66666666666666px; top: 759.4825333333334px; font-size: 14px; font-family: sans-serif; transform: scaleX(0.8680353551108931);">
        <u>80 - 60 (3)</u>
      </div>
      <div style="left: 74.66666666666666px; top: 787.4825333333334px; font-size: 14px; font-family: sans-serif; transform: scaleX(0.9012983739193111);">
        <u>60-40 (11)</u>
      </div>
    </div>
  
  
    <div style="left: 74.66666666666666px; top: 849.7758666666666px; font-size: 14px; font-family: sans-serif; transform: scaleX(0.9769016008907049);">
      <strong>Vendor</strong>
    </div>
    <div style="left: 74.66666666666666px; top: 888.8078666666667px; font-size: 14px; font-family: sans-serif; transform: scaleX(0.8776285881663737);">Oracle (5)</div>
    <div style="left: 74.66666666666666px; top: 888.8078666666667px; font-size: 14px; font-family: sans-serif; transform: scaleX(0.8776285881663737);">Oracle (5)</div>
    <div style="left: 74.66666666666666px; top: 944.8158666666667px; font-size: 14px; font-family: sans-serif; transform: scaleX(0.8529374063081859);">SAP (11)</div>
    <div style="left: 74.66666666666666px; top: 1007.1092000000001px; font-size: 18.666666666666664px; font-family: sans-serif; transform: scaleX(0.9628707444286393);">
      <strong>Rating</strong>
    </div>
    <div class="ratings" link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span> (3)
    </div>
    <div class="ratings" link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span> (5)
    </div>
    <div class="ratings" link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span> (13)
    </div>
    <div class="ratings" link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span> (34)
    </div>
    <div class="ratings" link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span> (0)
    </div>
  </div>
</div>