<!-- <div class="c-world-map">
<div class="row s-world-card m-0">
    <div class="col-md-8">
      <div class="s-world-header">Prevalence map</div>
        <app-stream-map [countryFacets]="data"></app-stream-map>
      
    </div>
    <div class="col-md-4">
      <select class="s-world-select"><option value="">Country</option></select>
      <div style="margin-top: 23px;" *ngFor="let obj of countryList; let index = index;">
        <div class="s-world-line">
          <div class="m-b-9">
            <div class="s-world-number">#{{index + 1}}</div>
              <div (click)="addCountryFilter(obj.val)"><h6 class="s-world-name">{{obj.name}}</h6><span class="badge badge-pill badge-light">{{obj.count}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  -->