<div class="row" style="margin-top: 37px">
  <div class="s-card-layout">
    <div class="col-md-3 p-l-0">
      <img class="img-responsive" src="assets/images/faculty-ph.jpg" style="width: 114%;">
    </div>
    <div class="col-md-4" style="padding: 15px 20px;">
      <div class="s-card-name">Cisco LAPD</div>
      <div class="s-card-prof" style="margin-top: 14px">Pricing: $499.99/yr</div>
      <div class="ratings" link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        Rating:

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      <div class="s-card-bd">Supplier Rating: Preferred</div>
      <div class="s-card-sas">Securtiy Rating: 78</div>
      <div class="s-card-email">Quality Rating: 92</div>

    </div>
    <div class="col-md-5">
      <div style="margin-top: 45px;">
        <div class="s-card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        <p class="s-card-desc-footer"> Software Website</p>
      </div>
    </div>
  </div>
</div>