<div class="summary-topics">

  <div class="row" style="margin-top: 37px;">
    <div class="col-md-6">
      <div class="s-prevalence-card">
        <div class="row">
          <div class="col-md-6"><span class="s-prevalence-header">Prevalence</span><span class="s-info"><i class="fa fa-info-circle" aria-hidden="true"></i></span></div>
        </div>
        <app-c-charts [chartLabels]="lineChartLabels" [chartData]="lineChartData" [chartOptions]="lineChartOptions" [chartColors]="lineChartColors"
          [chartLegend]="lineChartLegend" [chartType]="lineChartType"></app-c-charts>
      </div>
    </div>
    <div class="col-md-6">
      <div class="s-dept-card">
        <div class="row m-0">
          <div class="col-md-6"><span class="s-dept-header">Departments</span><span class="s-info"><i class="fa fa-info-circle" aria-hidden="true"></i></span></div>
          <div class="col-md-6">
            <span class="list-results"><span class="f-w-600">16 </span> <span>Results</span></span>
          </div>
        </div>
        <div class="row s-bar-card">
          <div class="col-md-6">
            <app-c-charts [chartLabels]="barChartLabels" [chartData]="barChartData" [chartOptions]="barChartOptions" [chartColors]="barChartColors"
              [chartLegend]="barChartLegend" [chartType]="barChartType"></app-c-charts>
          </div>
          <div class="col-md-6 s-bar-list">
            <div class="c-barData" *ngFor="let obj of barDataList">
              <div class="c-square" [ngStyle]="{'background-color':obj.color}"></div>
              <div class="c-square-info">{{obj.label}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-c-world-map></app-c-world-map>

  <app-c-news *ngIf="newsList" [newsList]="newsList" [newsWithGraph]="true" [newsCount]="2" [doughnutChartOptions]="doughnutChartOptions"
    [doughnutChartColors]="doughnutChartOptions" [doughnutChartLegend]="doughnutChartLegend" [doughnutChartLabels]="doughnutChartLabels"
    [doughnutChartData]="doughnutChartData" [doughnutChartType]="doughnutChartType"></app-c-news>

  <app-c-events *ngIf="eventsList" [eventsList]="eventsList"></app-c-events>

  <app-c-research *ngIf="researchList" [researchList]="researchList"></app-c-research>

  <app-c-courses *ngIf="coursesList" [coursesList]="coursesList" [courseWithGraph]="true" [barDataList]="barDataList" [barChartLabels]="barChartLabels"
    [barChartData]="barChartData" [barChartOptions]="barChartOptions" [barChartColors]="barChartColors" [barChartLegend]="barChartLegend"
    [barChartType]="barChartType"></app-c-courses>

  <div class="row s-courseprev-card">
    <div class="col-md-8">
      <div class="s-courseprev-name">Courses preavalence by school</div>
      <app-c-charts [chartLabels]="lineChartLabels" [chartData]="pLineChartData" [chartOptions]="lineChartOptions" [chartColors]="pLineChartColors"
        [chartLegend]="lineChartLegend" [chartType]="lineChartType"></app-c-charts>
    </div>
    <div class="col-md-4 s-bar-list">
      <div class="c-barData" *ngFor="let obj of barDataList">
        <div class="c-square" [ngStyle]="{'background-color':obj.color}"></div>
        <div class="c-square-info">{{obj.label}}</div>
      </div>
    </div>
  </div>

  <app-c-faculty *ngIf="facultyList" [facultyList]="facultyList"></app-c-faculty>
  
  <app-c-topics *ngIf="topicsList" [topicsList]="topicsList" [dynamicBorder]="true"></app-c-topics>

</div>