<div class="c-research">
  <div class="row" style="margin-top: 25px">
    <div class="col-md-6"><span class="s-research-header">Contract Info</span><span class="s-info"><i class="fa fa-info-circle" aria-hidden="true"></i></span></div>

  </div>

  <div *ngIf="researchList.length > 0; else nodata;">
    <div class="row">
      <div class="col-md-12" *ngFor="let research of researchList | slice:0:1">
        <div class="s-research-card" style="padding: 13px 26px">
          <span class="s-research-date">Term of contract</span><span class="s-research-type">2 years</span>
          <h6 class="s-research-desc">
            <a href="Link">Link to contract file
            </a>
          </h6>
          <div class="s-research-subDesc">When signed: 02-07-2018</div>
          <div class="s-research-name">When last updated: 02-07-2018 </div>
        </div>
      </div>
    </div>

    <!-- <div><a class="see-all-name" [routerLink]="['../research']">See all</a><span class="see-all-chevron"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></div>
  </div>
  <ng-template #nodata>
    <div>No Researches available</div>
  </ng-template>
</div> -->