<div class="footer-container container">
  <div class="row">
    <div class="col-md-3 col-sm-6 text-left footer-logo" [ngClass]="{'text-center': showNavbar}">
      <a><strong>Cisco</strong> Infosphere</a>
    </div>
    <div class="col-md-7 col-sm-6 footer-links">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-6 footer-copyright">
      <i class="fa fa-copyright" aria-hidden="true"></i> 2018 CISCO
    </div>
  </div>
</div>